<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhlk.airsensor.biz.dao.SelectSensorMapper">
    <resultMap id="sensorInfos" type="SensorInfo">
        <id column="id" property="id"/>
        <result column="sensor_addr" property="sensor_addr"/>
        <result column="air_addr" property="air_addr"/>
    </resultMap>

    <resultMap id="sens" type="SenInfo">
        <id column="id" property="id"/>
        <result column="sensor_addr" property="sensor_addr"/>
        <result column="sensor_tem" property="sensor_tem"/>
        <result column="air_tem" property="air_tem"/>
        <result column="start_date" property="start_date"/>
        <result column="end_date" property="end_date"/>
        <result column="air_addr" property="air_addr"/>
    </resultMap>

    <select id="findAllSensorInfo" resultMap="sensorInfos">
      SELECT  * FROM sensorinfo;
    </select>

    <select id="findSensorInfoByAddr" resultMap="sens">
        SELECT a.id,a.sensor_addr,a.sensor_tem,a.air_tem,a.start_date,a.end_date,b.air_addr
        FROM
          airsensor.seninfo as a right join airsensor.sensorinfo as b
        on  a.sensor_addr = b.sensor_addr
        where   a.sensor_addr=#{sensorAddr}
        order by a.id desc
        limit 1
    </select>

</mapper>