
.map ul:nth-of-type(1){
    padding-left: 16%;
    top: 18%;
}
.map ul:nth-of-type(2){
    padding-left: 16%;
    top: 36%;
}
.map ul:nth-of-type(3){
    padding-left: 16%;
    top: 51%;
}
.map ul:nth-of-type(4){
    padding-left: 16%;
    top: 65%;
}
.map ul:nth-of-type(5){
    padding-left: 16%;
    top: 86%;
}
.map ul li i{
    position: absolute;
    right: -20px;
    top: 0;
    width: 20px;
    height: 20px;
    font-style: normal;
    text-align: center;
    line-height: 20px;
}
.map ul li i::after{
    content: '。';
    position: absolute;
    right: -7px;
    top:-5px;
}
.map ul.line{
    width: 100%;
    height: 4%;
    position: absolute;
}
.map ul.line li {
    width: 12%;
    height: 100%;
    float: left;
    margin-right: 9%;
    position: relative;
}
span.bgSpan{
    border: 1px solid #515151;
    background-color: #fff;
}
#mode span:nth-of-type(1){
    background-image: url("../../img/airCtrl/zhilengG.png");
}
#mode span:nth-of-type(2){
    background-image: url("../../img/airCtrl/zhire.png");
}
#btnFS span#manfeng{
    background-image: url("../../img/airCtrl/manfeng.png");
}
#btnFS span#zhongfeng{
    background-image: url("../../img/airCtrl/zhongfeng.png");
}
#btnFS span#dafeng{
    background-image: url("../../img/airCtrl/dafeng.png");
}
#btnFS span#zidong{
    background-image: url("../../img/airCtrl/zidongG.png");
}
#temp span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#temp span:nth-of-type(2){
    line-height: 30px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#temp span:nth-of-type(2)::after{
    position: absolute;
    content: '。';
    top: -15%;
    right: 14%;
}
#temp div{
    position: relative;
    height: 46px;
}
#temp span:nth-of-type(1){
    left: 0;
}
#temp span:nth-of-type(3){
    right: 0;
}
#mode span,#btnFS span,#temp span:nth-of-type(2){
    display: inline-block;
    width: 32%;
    height: 30px;
    border-radius: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 16px 0 4px;
}
#setTime select{
    padding: 4px;
    margin-top: 10px;
}
#setTime select:nth-of-type(1){
    width: 55%;
}

.map ul li{
    background: url("../../img/airCtrl/guanbi.png") no-repeat center/100%;
}