<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>扫描二维码</title>
</head>

<!-- 引入资源 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="/lib/qrcode.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body bgcolor="#C7EDCC">

<div class="container">
    <div class="row" style="text-align: center">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
        <img id="img" src="http://qr.liantu.com/api.php?text=www.liantu.com"
             style="display:block;width: 300px; height: 300px; margin: 40px auto 0; border: 10px solid #FAEBD7"/>
        <br>
        <br>

        <table class="table" style="width: 300px; margin: 0 auto;">
            <tr style="height: 24px;">
                <td id="tdblue"
                    style="width: 130px; background-color: #148ee3; border: 2px solid #FFFFFF;box-sizing: border-box"
                    onclick="changeSelectColor(this)"></td>
                <td style="width: 30px"></td>
                <td id="tdgreen" style="width: 130px; background-color: #148e13; border: none;box-sizing: border-box"
                    onclick="changeSelectColor(this)"></td>
            </tr>
        </table>

        <br>
        <input id="lightId" type="text" style="width: 300px; height: 24px; text-align: center; display: block; margin: 0 auto;">
        <br>
        <input type="button" style="width: 300px; height: 30px; display: block; margin: 0 auto;" value="生成" onclick="drawCode()">
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>

<!--参考网址-->
<!--http://www.topscan.com/pingtai/-->

<script th:inline="javascript">

    var lightId = [[${lightId}]];

    console.log(lightId)
    $("#lightId").val(lightId);

    var q = new qrcode();
    var text = "http://192.168.2.17:82/erweima/" + lightId;
    q.setFg("148ee3");
    q.setText(text);
    q.setLogo("http://47.94.208.175:90/image/logo.png")
    console.log(q.getUrl())
    $("#img").attr("src", q.getUrl());
    $("#img").click(function () {
        window.location.href = text;
    });

    // 改变二维码风格
    function changeSelectColor(obj) {
        if (obj.id == "tdblue") {
            $("#tdblue").css({border: "2px solid #FFFFFF"});
            $("#tdgreen").css({border: ""});
            q.setFg("148ee3");
        } else if (obj.id == "tdgreen") {
            $("#tdgreen").css({border: "2px solid #FFFFFF"});
            $("#tdblue").css({border: ""});
            q.setFg("148e13");

        }
        console.log(q.getUrl())
        $("#img").attr("src", "");
        $("#img").attr("src", q.getUrl());
        $("#img").click(function () {
            window.location.href = text;
        });
    }

    // 绘制二维码
    function drawCode() {
        lightId = $("#lightId").val();
        var reqUrl = "http://192.168.2.17:82/light/" + lightId;
        window.location.href = reqUrl;
    }

</script>

</body>
</html>